{% extends "./base_about.html" %}

{% load static %}
<html>
{% block content %}
<!DOCTYPE html>

<style>
    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #ffda45;
        color: dark gray;
        font-family: "Lucida Console", Helvetica, Arial;
      }
      
</style>

<head>
    
    <title>About Us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css"rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet "type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'website/css/dockets_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/base_template.css' %}">



</head>


<body>
    <div class="about-section">
        <h1>About Us</h1>
        <p>Throughout the last decade, inequalities in the criminal justice system have been exposed bringing a demand for reform. 
            From unfair sentencing policies to racial profiling, many organizations have dedicated time and money to rectify the judiciary system in order to eliminate bias and corruption. 
            Our group has teamed up with Court Watch Nola to design a dashboard to effectively communicate their findings and perform additional data analysis. 
            We also plan to assist them on improving their back end and working with their data consultant to understand their data pipeline. 
            Through data science techniques, we plan to clean and manage the data in order to create powerful visualizations and statistics displayed on a dashboard. 
            Currently, the organization releases an annual report of approximately 100 pages with figures and recommendations but would also like to share social media friendly infographics of their findings.
            With our dashboards, we will further CW NOLA’s mission of transparency by making its work more visible and accessible to the public. 
        </p>
        {% comment %} <p>
            To consolidate their data flow, we built a more persistent way of holding their data on the backend, as well as producing an interactive user interface which can create convenient visualizations. To do this we have used:
            - Heroku cloud platform: host database and site
            - Django web framework: queries database
            - PostgreSQL: relational database
            - Supplemented CW NOLA data with Magistrate Court Dockets
        </p> {% endcomment %}
    </div>
</body>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
 

  {% block javascript %}
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->


  {% endblock javascript %}


 {% endblock %}

</html>