{% extends "./base.html" %}

{% load static %}
{% block content %}
<!DOCTYPE html>




<html>

<head>
    
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet "type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}">

  </head>

<style>

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.dropdownbg {
  background-color: rgb(250, 227, 99);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 8;
}
.one {
  grid-column: 1;
  grid-row: 1;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.two {
  grid-column: 1;
  grid-row: 2;
  padding-left: 20px;
  padding-right: 20px;
}
.three {
  grid-column: 1;
  grid-row: 3;
  padding-left: 20px;
  padding-right: 20px;
}
.four {
  grid-column: 1;
  grid-row: 4;
}
.five {
  grid-column: 1;
  grid-row: 5;
}
.six {
  grid-column: 1;
  grid-row: 6;
}

input, select {
    display: inline-block;
    width: 10em;
}
label {
    display: inline-block;
    width: 10em;
    color: rgb(15, 47, 111);
    text-align:center;
}

</style> 


<body>
  {% csrf_token %}


  <div class="wrapper">

    <div class="dropdownbg">

      <!-- Drop down for court -->
      <div class="one">
        <div class="form-group">
          <label for="inputStatus">Court </label>
          <select id="court-dropdown" name="court-dropdown" class="form-control-sm custom-select" method="get" multiple>
            <option selected disabled>Choose court(s)</option>
            {% for court in courts %}
            <option id="{{court}}" value="{{court}}">{{court}}</option>
            {% endfor %}
          </select>
        
        </div>
      </div>

      <!-- Drop down for year -->
      <div class="two">
        <div class="form-group">
          <label for="inputStatus">Year </label>
          <select id="year-dropdown" name="year-dropdown" class="form-control-sm custom-select" method="get" multiple>
            <option selected disabled>Choose year(s)</option>
            {% for year in years %}
            <option id="{{court}}" value="{{court}}">{{year}}</option>
            {% endfor %}
          </select>
        
        </div>
      </div>

      <!-- Drop down for question -->
      <div class="three">
        <div class="form-group">
          <label for="inputStatus">Question </label>
          <select id="question-dropdown" class="selectpicker" name="question-dropdown" data-show-subtext="true" data-live-search="true">
            <option data-tokens="Choose a question" selected disabled>Choose a question</option>
          </select>
        
        </div>
      </div>
    </div>

    <div class="bokeh_div">
      html
    </div>



  </div>
 

  {% block javascript %}
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

  <script >
    // whenever court-dropdown is changed (i.e. clicked), execute this
    $('select[name=court-dropdown]').change(function () {
          const court_s = $('select[name=court-dropdown]').val();  // get the selected courts from the HTML dropdown list 
          const year_s = $('select[name=year-dropdown]').val();
          $('select[name=question-dropdown]').selectpicker();

          $.ajax({                       // initialize an AJAX request
              type: "get",
              url: '{% url "website:get_years_ajax" %}',
              data: {
                  'courts': JSON.stringify(court_s), //,       // add the year id to the POST parameters
                  'years': JSON.stringify(year_s)
                  //'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  let html_data_years = '<option value="">---------</option>';
                  let html_data_questions = '<option data-tokens="" value="">---------</option>';
                  data.forEach(function (data) {
                      if (data.hasOwnProperty('survey_year')) {
                        html_data_years += `<option value="${data.survey_year}">${JSON.stringify(data.survey_year)}</option>`
                      }
                      if (data.hasOwnProperty('question_text')) {
                        html_data_questions += `<option data-tokens="${data.question_text}" value="${data.question_text}">${JSON.stringify(data.question_text)}</option>`
                      }
                  });
                  $('select[name=year-dropdown]').html(html_data_years); // replace the contents of the year input with the data that came from the server
                  $('select[name=question-dropdown]').html(html_data_questions); // likewise for questions
                  $('.selectpicker').selectpicker('refresh'); // because the questions dropdown is searchable (selectpicker) we have to refresh it

              }

          });
      });
  </script>

  <script >
    // whenever year-dropdown is changed (i.e. clicked), execute this
    $('select[name=year-dropdown]').change(function () {
          const court_s = $('select[name=court-dropdown]').val();  // get the selected courts from the HTML dropdown list 
          const year_s = $('select[name=year-dropdown]').val();
          $.ajax({                       // initialize an AJAX request
              type: "get",
              url: '{% url "website:get_questions_ajax" %}',
              data: {
                  'courts': JSON.stringify(court_s), //,       // add the court id to the POST parameters
                  'years': JSON.stringify(year_s)
                  //'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  let html_data_questions = '<option data-tokens="" value="">---------</option>';
                  data.forEach(function (data) {

                      if (data.hasOwnProperty('question_text')) {
                        html_data_questions += `<option data-tokens="${JSON.stringify(data.question_text)}" >${JSON.stringify(data.question_text)}</option>`
                      }
                  });
                  $('select[name=question-dropdown]').html(html_data_questions);

                  

              }
            
          });
        
        $('.selectpicker').selectpicker('refresh');
      });
  </script>



  {% endblock javascript %}

</body>

</html>

 {% endblock %}