{% extends "./base_template.html" %}

{% load static %}
<html>
{% block content %}
<!DOCTYPE html>



<head>
    
    <title>Survey Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css"rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet "type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'website/css/survey_dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/base_template.css' %}">



</head>


<body>
  {% csrf_token %}


  <div class="wrapper">

    <div class="panel1">


      <!-- Drop down for court -->
      <div class="one">
        <div class="form-group">
          <label for="inputStatus">Court </label>
          <select id="court-dropdown" name="court-dropdown" class="form-control-sm custom-select" method="get" multiple>
            <option selected disabled>Choose court(s)</option>
            {% for court in courts %}
            <option id="{{court}}" value="{{court}}">{{court}}</option>
            {% endfor %}
          </select>
        
        </div>
      </div>

      <!-- Drop down for year -->
      <div class="two">
        <div class="form-group">
          <label for="inputStatus">Year </label>
          <select id="year-dropdown" name="year-dropdown" class="form-control-sm custom-select" method="get" multiple>
            <option selected disabled>Choose year(s)</option>
            {% for year in years %}
            <option id="{{court}}" value="{{court}}">{{year}}</option>
            {% endfor %}
          </select>
        
        </div>
      </div>

      <!-- Drop down for question 1-->
      <div class="three">
        <div class="form-group">
          <label for="inputStatus">Question 1</label>
          <select id="question-dropdown-1" class="selectpicker" name="question-dropdown-1" data-show-subtext="true" data-live-search="true">
            <option data-tokens="Choose a question" selected disabled>Choose a question</option>
          </select>
        
        </div>
      </div>





      


    </div>
    
    <div class="panel2">

      <div id="single-choice-vertical-1">
        <!-- Drop down for question 2-->
        <div class="four">
          <div class="form-group">
            <label for="inputStatus">Question 2 (Optional)</label>
            <p id="question-2-description"></p>
            <select id="question-dropdown-2" class="selectpicker" name="question-dropdown-2" data-show-subtext="true" data-live-search="true">
              <option data-tokens="Choose a question" selected disabled>Choose a second question</option>
            </select>
          
          </div>
        </div>
      </div>


      <div id="open-ended-essay-1">
        <div class="four">
          <div class="form-group">
            <label for="inputStatus">Word/Phrase</label>
            <p id="open-ended-essay-1-description"></p>
            <input
              type="text"
              name="mag_num"
              placeholder="Enter word/phrase to analyze in responses"
              class="form-control"
            />
          
          </div>
        </div>
      </div>

      <!-- Drop down for chart type -->
      <div class="five">
        <div class="form-group">
          <label for="inputStatus">Chart Type </label>
          <select id="chart-dropdown" name="chart-dropdown" class="form-control-sm custom-select" method="get" multiple>
            <option selected disabled>Choose chart type</option>

          </select>
        
        </div>
      </div>

      <div class="six">
        <button id="gen-button" name="generate-graph" class="gen-button">View Graph</button>
      </div>

    </div>

    <div id="bar-char-controls-div" class="bar-chart-controls">

    </div>

    <div id="bokeh-div" class="bokeh-div" name="bokeh-div">

    </div>

    



  </div>


</body>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-x.y.z.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-x.y.z.min.js" crossorigin="anonymous"></script>



 

  {% block javascript %}
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

  <script >

    // hide all elements on second panel, show them conditionally after question 1 selected
    document.getElementById("single-choice-vertical-1").style.display = "none";
    document.getElementById("open-ended-essay-1").style.display = "none";

    // whenever court-dropdown is changed (i.e. clicked), execute this
    $('select[name=court-dropdown]').change(function () {
          const court_s = $('select[name=court-dropdown]').val();  // get the selected courts from the HTML dropdown list 
          const year_s = $('select[name=year-dropdown]').val();
          $('select[name=question-dropdown-1]').selectpicker();
          $('select[name=question-dropdown-2]').selectpicker();

          $.ajax({                       // initialize an AJAX request
              type: "get",
              url: '{% url "website:get_years_ajax" %}',
              data: {
                  'courts': JSON.stringify(court_s), //,       // add the year id to the POST parameters
                  'years': JSON.stringify(year_s)
                  //'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  let html_data_years = '<option value="">---------</option>';
                  let html_data_questions = '<option data-tokens="" value="">---------</option>';
                  console.log(data);
                  data.forEach(function (data) {
                      if (data.hasOwnProperty('survey_year')) {
                        html_data_years += `<option value="${data.survey_year}">${JSON.stringify(data.survey_year)}</option>`
                      }
                      if (data.hasOwnProperty('question_clean_text')) {
                        html_data_questions += `<option data-tokens="${data.question_clean_text}" value="${data.question_clean_text}">${JSON.stringify(data.question_clean_text)}</option>`
                      }
                  });
                  $('select[name=year-dropdown]').html(html_data_years); // replace the contents of the year input with the data that came from the server
                  $('select[name=question-dropdown-1]').html(html_data_questions); // likewise for questions
                  $('select[name=question-dropdown-2]').html(html_data_questions);
                  $('select[name=question-dropdown-1]').selectpicker('refresh');
                  $('select[name=question-dropdown-2]').selectpicker('refresh'); // because the questions dropdown is searchable (selectpicker) we have to refresh it

              }

          });
      });

    // whenever year-dropdown is changed (i.e. clicked), execute this
    $('select[name=year-dropdown]').change(function () {
          $('select[name=question-dropdown-1]').selectpicker();
          $('select[name=question-dropdown-2]').selectpicker();
          const court_s = $('select[name=court-dropdown]').val();  // get the selected courts from the HTML dropdown list 
          const year_s = $('select[name=year-dropdown]').val();
          $.ajax({                       // initialize an AJAX request
              type: "get",
              url: '{% url "website:get_questions_ajax" %}',
              data: {
                  'courts': JSON.stringify(court_s), //,       // add the court id to the POST parameters
                  'years': JSON.stringify(year_s)
                  //'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  let html_data_questions = '<option data-tokens="" value="">---------</option>';
                  console.log(data);
                  data.forEach(function (data) {

                      if (data.hasOwnProperty('question_clean_text')) {
                        html_data_questions += `<option data-tokens="${JSON.stringify(data.question_clean_text)} value="${data.question_clean_text}"" >${JSON.stringify(data.question_clean_text)}</option>`;
                      }
                  });
                  $('select[name=question-dropdown-1]').html(html_data_questions);
                  $('select[name=question-dropdown-1]').selectpicker('refresh');
                  $('select[name=question-dropdown-2]').html(html_data_questions);
                  $('select[name=question-dropdown-2]').selectpicker('refresh');

              }
            
          });
        
        
        //
      });

    // whenever question-dropdown-1 is changed (i.e. clicked), execute this
    $('select[name=question-dropdown-1]').change(function () {
          // MAKE SURE TO DELETE ALL PANEL 2 ELEMENTS FOR CLICKS AFTER FIRST


          const court_s = $('select[name=court-dropdown]').val();  // get the selected courts from the HTML dropdown list 
          const year_s = $('select[name=year-dropdown]').val();
          const question_1 = $('select[name=question-dropdown-1').val();
          const question_2 = $('select[name=question-dropdown-2').val();
          $.ajax({                       // initialize an AJAX request
              type: "get",
              url: '{% url "website:generate_panel_2_options" %}',

              data: {
                  'courts': JSON.stringify(court_s),
                  'years': JSON.stringify(year_s),
                  'question_1': JSON.stringify(question_1),
                  'question_2': JSON.stringify(question_2)
                  //'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {   // `data` is from `get_topics_ajax` view function
                  console.log("in success function");
                  console.log(data);

                  let html_data_graphs = '<option value="">---------</option>';

                  data.graphs.forEach(function (data) {
                    //console.log(data.graph_type);
                    html_data_graphs += `<option data-tokens="${JSON.stringify(data.graph_type)} value="${data.graph_type}"" >${data.graph_type}</option>`;

                  });
                  $('select[name=chart-dropdown]').html(html_data_graphs);
                  console.log(data.question_type);
                  console.log(data.question_subtype);
                  // WRITE CONDITIONS FOR ALL TUPLES HERE, SHOWING ELEMENTS ACCORDINGLY
                  if (data.question_type == "single_choice" && data.question_subtype == "vertical") {
                    document.getElementById("single-choice-vertical-1").style.display = "block";
                    document.getElementById("question-2-description").innerHTML = "Chosing a second question will allow you to compare it with the first (think pivot tables and stacked bar charts";
                  } else if (data.question_type == "open_ended" && data.question_subtype == "essay") { // DONE
                      document.getElementById("open-ended-essay-1").style.display = "block";
                  } else if (data.question_type == "open_ended" && data.question_subtype == "single") { // DONE

                  } else if (data.question_type == "multiple_choice" && data.question_subtype == "vertical") { // DONE

                  } else if (data.question_type == "open_ended" && data.question_subtype == "numerical") { // DONE

                  } else if (data.question_type == "single_choice" && data.question_subtype == "vertical_two_col") {

                  } else if (data.question_type == "open_ended" && data.question_subtype == "multi") { // DONE

                  } else if (data.question_type == "matrix" && data.question_subtype == "single") { // DONE

                  } else if (data.question_type == "matrix" && data.question_subtype == "rating") { // DONE

                  } else if (data.question_type == "datetime" && data.question_subtype == "time_only") { // DONE

                  } else if (data.question_type == "single_choice" && data.question_subtype == "menu") { // DONE

                  } else if (data.question_type == "datetime" && data.question_subtype == "date_only") { // DONE

                  } else {
                    alert("Question type, subtype combination not recognized");
                    return false;
                  }


              }
            
          });
        
        
        //
      });

    document.getElementById("gen-button").onclick = function() {genButtonClickFunction()};
    let total_clicks_view_graph_button = 0; // variable to track number of successful "View Graph" button clicks (for deleting HTML element purposes)
    function genButtonClickFunction() {
      const court_s = $('select[name=court-dropdown]').val();  
      const year_s = $('select[name=year-dropdown]').val();
      const question_1 = $('select[name=question-dropdown-1').val();
      const question_2 = $('select[name=question-dropdown-2').val();
      const chart_type = $('select[name=chart-dropdown').val();
      console.log("in click function");
      console.log(chart_type);
      $.ajax({
        type: "get",
        url: '{% url "website:process_generate" %}',
        data: {
          'courts': JSON.stringify(court_s),
          'years': JSON.stringify(year_s),
          'question_1': JSON.stringify(question_1),
          'question_2': JSON.stringify(question_2),
          'chart_type': JSON.stringify(chart_type)
        },
        success: function(result) {
          console.log("IN SUCCESS OF GENBUTTON");
          function deleteElements(value, index, array) {
            value.remove(); // remove element from HTML of page
          }
          console.log(total_clicks_view_graph_button);
          if (total_clicks_view_graph_button > 0) {
            created_elements.forEach(deleteElements);
          }

          total_clicks_view_graph_button += 1;
          console.log("IN SUCCESS OF GENBUTTON2");
          var bokeh_data = result;
          console.log("success1");
          $('div[name=bokeh-div]').html(bokeh_data.div);
          $("head").append(bokeh_data.script);

          if (chart_type == "bar") {

            // create HTML elements for Stack_by radio select
            let stack_label = document.createElement("label");
            stack_label.innerHTML = "Attribute to Stack by:";
            stack_label.classList.add("stack-label");

            let stack_court = document.createElement("div");
            stack_court.id = "stack-court-div";
            stack_court.classList.add("stack-court-div");
            let stack_court_input = document.createElement("input");
            stack_court_input.type = "radio";
            stack_court_input.id = "stack-court-radio";
            stack_court_input.name = "stack";
            stack_court_input.value = "court";
            let stack_court_label = document.createElement("label");
            stack_court_label.for = "stack-court-radio";
            stack_court_label.innerHTML = "Court";
            stack_court_input.classList.add("stack-court-input");
            


            let stack_year = document.createElement("div");
            stack_year.id = "stack-year-div";
            stack_year.classList.add("stack-year-div");
            let stack_year_input = document.createElement("input");
            stack_year_input.type = "radio";
            stack_year_input.id = "stack-year-radio";
            stack_year_input.name = "stack";
            stack_year_input.value = "year";
            let stack_year_label = document.createElement("label");
            stack_year_label.for = "stack-year-radio";
            stack_year_label.innerHTML = "Year";
            stack_year_input.classList.add("stack-year-input");

            let stack_none = document.createElement("div");
            stack_none.id = "stack-none-div";
            stack_none.classList.add("stack-none-div");
            let stack_none_input = document.createElement("input");
            stack_none_input.type = "radio";
            stack_none_input.id = "stack-none-radio";
            stack_none_input.name = "stack";
            stack_none_input.value = "none";
            stack_none_input.checked = "checked";
            let stack_none_label = document.createElement("label");
            stack_none_label.for = "stack-none-radio";
            stack_none_label.innerHTML = "None";
            stack_none_input.classList.add("stack-none-input");

             // create HTML elements for Group_by radio select
            let group_label = document.createElement("label");
            group_label.innerHTML = "Attribute to Group by:"
            group_label.classList.add("group-label");

            let group_court = document.createElement("div");
            group_court.id = "group-court-div";
            group_court.classList.add("group-court-div");
            let group_court_input = document.createElement("input");
            group_court_input.type = "radio";
            group_court_input.id = "group-court-radio";
            group_court_input.name = "group";
            group_court_input.value = "court";
            let group_court_label = document.createElement("label");
            group_court_label.for = "group-court-radio";
            group_court_label.innerHTML = "Court";
            group_court_input.classList.add("group-court-input");

            let group_year = document.createElement("div");
            group_year.id = "group-year-div";
            group_year.classList.add("group-year-div");
            let group_year_input = document.createElement("input");
            group_year_input.type = "radio";
            group_year_input.id = "group-year-radio";
            group_year_input.name = "group";
            group_year_input.value = "year";
            let group_year_label = document.createElement("label");
            group_year_label.for = "group-year-radio";
            group_year_label.innerHTML = "Year";
            group_year_input.classList.add("group-year-input");

            let group_none = document.createElement("div");
            group_none.id = "group-none-div";
            group_none.classList.add("group-none-div");
            let group_none_input = document.createElement("input");
            group_none_input.type = "radio";
            group_none_input.id = "group-none-radio";
            group_none_input.name = "group";
            group_none_input.value = "none";
            group_none_input.checked = "checked";
            group_none_input.checked = "checked";
            let group_none_label = document.createElement("label");
            group_none_label.for = "group-none-radio";
            group_none_label.innerHTML = "None";
            group_none_input.classList.add("group-none-input");

            // add elements to page
            let modify_graph_button = document.createElement("button");
            modify_graph_button.id = "modify-btn";
            modify_graph_button.name = "modify-btn";
            modify_graph_button.classList.add("modify-btn");
            modify_graph_button.onclick = function() {modifyButtonClickFunction()};
            modify_graph_button.innerHTML = "Modify Graph";

            window.created_elements = [stack_label, group_label, stack_court_label, stack_court_input, stack_year_label, 
                                      stack_year_input, stack_none_label, stack_none_input,
                                      group_court_label, group_court_input, group_year_label, 
                                      group_year_input, group_none_label, group_none_input,
                                      modify_graph_button];

            document.getElementById("bar-char-controls-div").appendChild(stack_label);
            document.getElementById("bar-char-controls-div").appendChild(stack_court);
            document.getElementById("stack-court-div").appendChild(stack_court_label);
            document.getElementById("stack-court-div").appendChild(stack_court_input);

            document.getElementById("bar-char-controls-div").appendChild(stack_year);
            document.getElementById("stack-year-div").appendChild(stack_year_label);
            document.getElementById("stack-year-div").appendChild(stack_year_input);

            document.getElementById("bar-char-controls-div").appendChild(stack_none);
            document.getElementById("stack-none-div").appendChild(stack_none_label);
            document.getElementById("stack-none-div").appendChild(stack_none_input);
            
            document.getElementById("bar-char-controls-div").appendChild(group_label);
            document.getElementById("bar-char-controls-div").appendChild(group_court);
            document.getElementById("group-court-div").appendChild(group_court_label);
            document.getElementById("group-court-div").appendChild(group_court_input);

            document.getElementById("bar-char-controls-div").appendChild(group_year);
            document.getElementById("group-year-div").appendChild(group_year_label);
            document.getElementById("group-year-div").appendChild(group_year_input);

            document.getElementById("bar-char-controls-div").appendChild(group_none);
            document.getElementById("group-none-div").appendChild(group_none_label);
            document.getElementById("group-none-div").appendChild(group_none_input);
            
            document.getElementById("bar-char-controls-div").appendChild(modify_graph_button);

          } else {
            window.created_elements = [];
          }


          //document.getElementById("bar-char-controls-div").appendChild(court_btn);
          //document.getElementById("bar-char-controls-div").appendChild(year_btn);
          //button_html += `<button>${"Stack by Year"}</button>`;
          console.log("success2");
          // this code needs to incorporate what chart type selected because controls will differ
          console.log("finished click function");
        }

      });
      // we add the court button function here because we want to use the drop down values from
      // when "View Graph" button was clicked (they mightve been changed without button being clicked)
      function modifyButtonClickFunction() {
        let stack_input = document.querySelector('input[name="stack"]:checked').value;
        let group_input = document.querySelector('input[name="group"]:checked').value;
        if (stack_input == group_input) {
          if (stack_input == "none") {
            alert("You haven't selected any attributes for stacking or grouping");
            return false;
          }
          alert("Cannot stack and group by same attribute!");
          return false;

        }
        $.ajax({
          type: "get",
          url: '{% url "website:stack_group_bar_chart" %}',
          data: {
            'courts': JSON.stringify(court_s),
            'years': JSON.stringify(year_s),
            'question_1': JSON.stringify(question_1),
            'question_2': JSON.stringify(question_2),
            'chart_type': JSON.stringify(chart_type),
            'stack_input': JSON.stringify(stack_input),
            'group_input': JSON.stringify(group_input)
          },
          success: function(result) {
            console.log("in stack success");
            var bokeh_data = result;
            console.log("success1");
            $('div[name=bokeh-div]').html(bokeh_data.div);
            $("head").append(bokeh_data.script);
          }
        });
      }

    }

  </script>

  {% endblock javascript %}


 {% endblock %}
</html>
