.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.formbg {
  background-color: rgb(250, 227, 99);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 8;
}
.one {
  grid-column: 1;
  grid-row: 1;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.two {
  grid-column: 1;
  grid-row: 2;
  padding-left: 20px;
  padding-right: 20px;
}
.three {
  grid-column: 1;
  grid-row: 3;
  padding-left: 20px;
  padding-right: 20px;
}
.four {
  grid-column: 1;
  grid-row: 4;
  padding-left: 20px;
  padding-right: 20px;
}
.gen-button {
  background-color: rgb(15, 47, 111);
  color: white;
  padding: 12px 20px;
}
.five {
  grid-column: 1;
  grid-row: 5;
  padding-left: 20px;
  padding-right: 20px;
}
.six {
  grid-column: 1;
  grid-row: 6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
.results {
  grid-column: 2;
}

input, select {
    display: inline-block;
    width: 10em;
}
label {
    display: inline-block;
    width: 10em;
    color: rgb(15, 47, 111);
    text-align:center;
}