.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
 
}
.panel1 {
  background-color: rgb(250, 227, 99);
  border-style: ridge;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / span 9;
}

.panel2 {
  background-color: rgb(250, 227, 99);
  border-style: ridge;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 1 / span 9;
}

.one {
  grid-column: 1;
  grid-row: 1;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.two {
  grid-column: 1;
  grid-row: 2;
  padding-left: 20px;
  padding-right: 20px;
}
.three {
  grid-column: 1;
  grid-row: 3;
  padding-left: 20px;
  padding-right: 20px;
}
.four {

  grid-column: 2;
  grid-row: 1;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.four ul {
  margin-left: -15px;
}

.gen-button {
  background-color: rgb(15, 47, 111);
  color: white;
  padding: 12px 20px;
}
.five {
  grid-column: 2;
  grid-row: 5;
  padding-left: 20px;
  padding-right: 20px;
}
.six {
  grid-column: 2;
  grid-row: 6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.seven {
  grid-column: 2;
  grid-row: 7;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.graph {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#graph-1 {
  grid-column: 3;
  grid-row: 2;
  
}

#graph-2 {
  grid-column: 3;
  grid-row: 3;

}

#graph-3 {
  grid-column: 3;
  grid-row: 4;
  
}

#graph-4 {
  grid-column: 3;
  grid-row: 5;

}

#graph-5 {
  grid-column: 3;
  grid-row: 6;
  
}

#graph-6 {
  grid-column: 3;
  grid-row: 7;

}

#graph-7 {
  grid-column: 3;
  grid-row: 8;
  
}

#graph-8 {
  grid-column: 3;
  grid-row: 9;

}

.graph .bokeh-div {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 25px;
  border: 6px solid RoyalBlue;
}

.graph .raw-data-div {
  grid-column: 2;
  grid-row: 1;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;

}

.graph .download-btn-div {
  grid-column: 2;
  grid-row: 2;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;

}

.bar-chart-controls {
  grid-row: 1;
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  width: 600px;

}

.bar-chart-controls input {
  width: 20px;
}

.stack-div {
  grid-row: 1;
  grid-column: 1;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  height: 40px;
  width: 300px;
}

.stack-div label {
  color: rgb(15, 47, 111);
  font-size: 11.5px;
}

.stack-label {
  grid-row: 1;
  grid-column: 1;
  font-size: 12px;
  margin-right: 10px;

}

.stack-court-input {
  grid-row: 2;
  grid-column: 1;

}

.stack-year-input {
  grid-row: 2;
  grid-column: 2;
}

.stack-none-input {
  grid-row: 2;
  grid-column: 3;
}

.group-div {
  grid-row: 1;
  grid-column: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  height: 40px;
  width: 300px;

}

.group-div label {
  color: rgb(15, 47, 111);
  font-size: 11.5px;

}

.group-label {
  grid-row: 1;
  grid-column: 1;
  font-size: 12px;
  margin-right: 10px;
}

.group-court-input {
  grid-row: 2;
  grid-column: 1;
}

.group-year-input {
  grid-row: 2;
  grid-column: 2;
}

.group-none-input {
  grid-row: 2;
  grid-column: 3;
}

.modify-btn {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(15, 47, 111);
  color: white;
  width: 100px;
  font-size: 11px;
  margin-bottom: 50px;
  margin-left: 10px;

}

.panel1 input, select {
    display: inline-block;
    width: 16em;
}

.panel1 input, select {
    display: inline-block;
    width: 16em;
}


.panel1 label {
    display: inline-block;
    text-align:center;
    float: left;
    width: 16em;
    color: rgb(15, 47, 111);
    
}

.panel1 label {
    display: inline-block;
    text-align:center;
    float: left;
    width: 16em;
    color: rgb(15, 47, 111);
    
}

/* below styling for popup taken from 'https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup' */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 8px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Below styling for table and table children from 'https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l' */

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: RoyalBlue;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid RoyalBlue;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
