<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.css" rel="stylesheet” type="text/css">
        <link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.css" rel="stylesheet" type=”text/css">
        <link rel="stylesheet">
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js" crossorigin="anonymous">></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js" crossorigin="anonymous">></script>
        <link href=”https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel=”stylesheet”>

        {{ script | safe }}
        {{ script1 | safe }}
        <title> Dashboard </title>
    </head>

    <body>
        <div id="pivotContainer"></div>
        <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
        <script>
            {% comment %} let pivot = new Flexmonster({
                container: "pivotContainer",
                componentFolder: "https://cdn.flexmonster.com/",
                toolbar: true,
                report: {
                    dataSource: {
                        type: "api",
                        url: "http://localhost:9500",
                        index: "index-database"
                    }, {% endcomment %}
                    {% comment %} "options" : {
                        "viewType" : "charts",
                        "chart": {
                            "type": "bar"
                        }
                    } {% endcomment %}
                    {% comment %} slice : {
                        rows: [ {
                            uniqueName: "survey_name"
                        } ],
                        columns: [ {
                            uniqueName: "id"
                        } ],
                        measures: [ {
                            uniqueName: "count"
                        } ],
                    } {% endcomment %}
                }
            }); 
        </script>
        {% comment %} <script>
            function runQuery() {
                let slice = {
                    rows: [ {
                        uniqueName: "survey_name"
                    } ],
                    columns: [ {
                        uniqueName: "id"
                    } ],
                    measures: [ {
                        uniqueName: "count"
                    } ],
                };
                flexmonster.runQuery(slice)
            }
        </script> {% endcomment %}
        {% comment %} <button onclick="runQuery()">Run query</button> {% endcomment %}
        <div> {{div | safe }} </div>
        <div> {{div1 | safe }} </div>
    </body>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
</html>